<section class="faq">
    <div class="container">
      <h1 class="faq-title">Frequently asked <span class="faq-break">question</span></h1>
      <ul class="accordion-container" data-accordion>
        <li class="ac">
          <div class="ac-header">
            <button type="button" class="ac-trigger faq-ac-trigger"><h2 class="ac-header-button">What programming languages are most often used in your project?</h2><svg class="icon-1" width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 8L7 2L1 8" stroke="#292929" stroke-width="2" stroke-linecap="round"/>
              </svg> <svg class="icon-2" width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 1L7 7L1 1" stroke="#292929" stroke-width="2" stroke-linecap="round"/>
                </svg>
              </button>
          </div>
          <div class="ac-panel">
            <p class="faq-ac-text">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
          </div>
        </li>
        <li class="ac">
          <div class="ac-header">
            <button type="button" class="ac-trigger faq-ac-trigger"><h2 class="ac-header-button">What are the deadlines for the project?</h2><svg class="icon-1" width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 8L7 2L1 8" stroke="#292929" stroke-width="2" stroke-linecap="round"/>
              </svg> <svg class="icon-2" width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 1L7 7L1 1" stroke="#292929" stroke-width="2" stroke-linecap="round"/>
                </svg></button>
          </div>
          <div class="ac-panel">
            <p class="faq-ac-text">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
          </div>
        </li>
        <li class="ac">
          <div class="ac-header">
            <button type="button" class="ac-trigger faq-ac-trigger"><h2 class="ac-header-button">What payment methods do you accept?</h2><svg class="icon-1" width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 8L7 2L1 8" stroke="#292929" stroke-width="2" stroke-linecap="round"/>
              </svg> <svg class="icon-2" width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 1L7 7L1 1" stroke="#292929" stroke-width="2" stroke-linecap="round"/>
                </svg></button>
          </div>
          <div class="ac-panel">
            <p class="faq-ac-text">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum, and others.</p>
          </div>
        </li>
        <li class="ac">
          <div class="ac-header">
            <button type="button" class="ac-trigger faq-ac-trigger"><h2 class="ac-header-button">How can I contact you?</h2><svg class="icon-1" width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 8L7 2L1 8" stroke="#292929" stroke-width="2" stroke-linecap="round"/>
              </svg> <svg class="icon-2" width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 1L7 7L1 1" stroke="#292929" stroke-width="2" stroke-linecap="round"/>
                </svg></button>
          </div>
          <div class="ac-panel">
            <p class="faq-ac-text">You can contact us via email or by filling out the contact form available on our website.</p>
          </div>
        </li>
        <li class="ac">
          <div class="ac-header">
            <button type="button" class="ac-trigger faq-ac-trigger"><h2 class="ac-header-button">Do you provide advice or support?</h2><svg class="icon-1" width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 8L7 2L1 8" stroke="#292929" stroke-width="2" stroke-linecap="round"/>
              </svg> <svg class="icon-2" width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 1L7 7L1 1" stroke="#292929" stroke-width="2" stroke-linecap="round"/>
                </svg></button>
          </div>
          <div class="ac-panel">
            <p class="faq-ac-text">Yes, we provide advice and support during the entire lifecycle of the project and beyond.</p>
          </div>
        </li>
        <li class="ac">
          <div class="ac-header">
            <button type="button" class="ac-trigger faq-ac-trigger"><h2 class="ac-header-button">What does the process of developing a software product look like from idea to implementation?</h2><svg class="icon-1" width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 8L7 2L1 8" stroke="#292929" stroke-width="2" stroke-linecap="round"/>
              </svg> <svg class="icon-2" width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 1L7 7L1 1" stroke="#292929" stroke-width="2" stroke-linecap="round"/>
                </svg></button>
          </div>
          <div class="ac-panel">
            <p class="faq-ac-text">The process involves requirements gathering, planning, development, testing, deployment, and ongoing support.</p>
          </div>
        </li>
      </ul>
    </div>
</section>
