           <header class="header">
            <div class="container flex-container">
            <div class="logo">
              <a href="index.html" class="logo">LLOYD<span class="accent">JEFFERSON.</span></a>
            </div>

            <button id="themeToggleButton" aria-label="Toggle Theme">
              <span id="themeIcon"></span>
            </button>



            <button class="burger">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="burger-btn-svg">
                <path d="M5.33398 23.027V21.6936H26.6673V23.027H5.33398ZM5.33398 16.667V15.3336H26.6673V16.667H5.33398ZM5.33398 10.307V8.97363H26.6673V10.307H5.33398Z" />
              </svg>
            </button>
            <nav class="navigation">
              <a class="nav-link" href="#">About Me</a>
              <a class="nav-link" href="#">Projects</a>
              <a class="nav-link" href="#">Contacts</a>
            </nav>
        </div>
          </header>
   
