<div class="mob-menu">
    <div class="mob-menu-logo-container">
        <nav><a class="mb-menu-logo" href="index.html">Lloyd<span class="accent">Jefferson.</span></a></nav>
        <button type="button" class="menu-icon-close">
            <svg class="cross-icon" width="32" height="32">
                <use href="./img/icons.svg#icon-modal-close-btn"></use>
            </svg>
        </button>
    </div>
    <div class="container">
        <div class="mob-nav-menu">
            <nav>
                <ul class="mob-nav-list">
                    <li class="mob-nav-item">
                        <a class="mob-nav-link" href="#about-me">About me</a>
                    </li>
                    <li class="mob-nav-item">
                        <a class="mob-nav-link" href="#projects">Projects</a>
                    </li>
                    <li class="mob-nav-item">
                        <a class="mob-nav-link" href="#work-together">Contacts</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>