<section class="my-projects-section">
  <div class="container">
    <h2 class="my-projects-heading">
      My <span class="my-projects-heading accent">projects</span>
    </h2>
    <ul class="my-projects-list">
      <li class="my-projects-item">
        <picture>
          <source
            srcset="
              /src/img/my-projects/project-1.jpg    1x,
              /src/img/my-projects/project-1-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="my-projects-img"
            src="/src/img/my-projects/project-1.jpg"
            alt="Wallet webservice"
          />
        </picture>

        <p class="my-projects-technologies">React, JavaScript, Node JS, Git</p>
        <div class="my-projects-card-row">
          <h3 class="my-projects-names">Wallet webservice</h3>
          <a class="my-projects-link" href=""
            >Visit
            <svg class="icon-arrow" width="24" height="24">
              <use href="/src/img/my-projects/arrows.svg#icon-arrow"></use></svg
          ></a>
        </div>
      </li>

      <li class="my-projects-item">
        <picture>
          <source
            srcset="
              /src/img/my-projects/project-2.jpg    1x,
              /src/img/my-projects/project-2-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="my-projects-img"
            src="/src/img/my-projects/project-2.jpg"
            alt="Green harvest webservice"
          />
        </picture>
        <p class="my-projects-technologies">React, JavaScript, Node JS, Git</p>
        <h3 class="my-projects-names">Green harvest webservice</h3>
        <a class="my-projects-link" href=""
          >Visit
          <svg class="icon-arrow" width="24" height="24">
            <use href="/src/img/my-projects/arrows.svg#icon-arrow"></use></svg
        ></a>
      </li>
      <li class="my-projects-item">
        <picture>
          <source
            srcset="
              /src/img/my-projects/project-3.jpg    1x,
              /src/img/my-projects/project-3-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="my-projects-img"
            src="/src/img/my-projects/project-3.jpg"
            alt="English Exellence webservice"
          />
        </picture>
        <p class="my-projects-technologies">React, JavaScript, Node JS, Git</p>
        <h3 class="my-projects-names">English Exellence webservice</h3>
        <a class="my-projects-link" href=""
          >Visit
          <svg class="icon-arrow" width="24" height="24">
            <use
              href="/src/img/my-projects/arrows.svg#icon-arrow"
              width="18"
              height="18"
            ></use></svg
        ></a>
      </li>
    </ul>
    <button class="load-more-btn" id="load-more-btn">Load More</button>
  </div>
</section>
