<section class="my-projects-section">
  <div class="container">
    <h2 class="my-projects-heading">
      My <span class="my-projects-heading accent">projects</span>
    </h2>
    <ul class="my-projects-list">
      <li class="my-projects-item">
        <picture>
          <source
            srcset="
              /src/img/my-projects/project-1.jpg    1x,
              /src/img/my-projects/project-1-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="my-projects-img"
            src="/src/img/my-projects/project-1.jpg"
            alt="Wallet webservice"
          />
        </picture>

        <p class="my-projects-technologies">React, JavaScript, Node JS, Git</p>
        <h3 class="my-projects-names">Wallet webservice</h3>
        <a class="my-projects-link" href="">Visit</a>
      </li>

      <li class="my-projects-item">
        <picture>
          <source
            srcset="
              /src/img/my-projects/project-2.jpg    1x,
              /src/img/my-projects/project-2-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="my-projects-img"
            src="/src/img/my-projects/project-2.jpg"
            alt="Green harvest webservice"
          />
        </picture>
        <p class="my-projects-technologies">React, JavaScript, Node JS, Git</p>
        <h3 class="my-projects-names">Green harvest webservice</h3>
        <a class="my-projects-link" href="">Visit</a>
      </li>
      <li class="my-projects-item">
        <picture>
          <source
            srcset="
              /src/img/my-projects/project-3.jpg    1x,
              /src/img/my-projects/project-3-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="my-projects-img"
            src="/src/img/my-projects/project-3.jpg"
            alt="English Exellence webservice"
          />
        </picture>
        <p class="my-projects-technologies">React, JavaScript, Node JS, Git</p>
        <h3 class="my-projects-names">English Exellence webservice</h3>
        <a class="my-projects-link" href="">Visit</a>
      </li>
    </ul>
    <button id="load-more-btn">Load More</button>
  </div>
</section>
