
<section class="tech-skills">
    <h2 class="visually-hidden">Tech Skills</h2>
    <div class="marquee">
        <div class="marquee__inner">
            <p class="marquee__line"><svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="8" height="8" rx="2" transform="matrix(-1 8.74228e-08 8.74228e-08 1 8 0)" fill="#00B068" />
            </svg> HTML/CSS<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="8" height="8" rx="2" transform="matrix(-1 8.74228e-08 8.74228e-08 1 8 0)" fill="#00B068" />
            </svg> JavaScript <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="8" height="8" rx="2" transform="matrix(-1 8.74228e-08 8.74228e-08 1 8 0)" fill="#00B068" />
            </svg>React <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="8" height="8" rx="2" transform="matrix(-1 8.74228e-08 8.74228e-08 1 8 0)" fill="#00B068" />
            </svg>Node. js <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="8" height="8" rx="2" transform="matrix(-1 8.74228e-08 8.74228e-08 1 8 0)" fill="#00B068" />
            </svg>React Native <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="8" height="8" rx="2" transform="matrix(-1 8.74228e-08 8.74228e-08 1 8 0)" fill="#00B068" />
            </svg>Typescript</p>
            <p class="marquee__line"><svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="8" height="8" rx="2" transform="matrix(-1 8.74228e-08 8.74228e-08 1 8 0)" fill="#00B068" />
            </svg> HTML/CSS<svg width="8" height="8" viewBox="0 0 8 8" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 8.74228e-08 8.74228e-08 1 8 0)" fill="#00B068" />
                </svg> JavaScript <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 8.74228e-08 8.74228e-08 1 8 0)" fill="#00B068" />
                </svg>React <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 8.74228e-08 8.74228e-08 1 8 0)" fill="#00B068" />
                </svg>Node. js <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 8.74228e-08 8.74228e-08 1 8 0)" fill="#00B068" />
                </svg>React Native <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 8.74228e-08 8.74228e-08 1 8 0)" fill="#00B068" />
                </svg>Typescript</p>
        </div>
    </div>

    <div class="marquee2">
        <div class="marquee__inner2">
            <p class="marquee__line2"><svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="8" height="8" rx="2" transform="matrix(-0.999391 -0.0348994 -0.0348994 0.999391 9.04297 0.578125)"
                    fill="#292929" />
            </svg> HTML/CSS <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="8" height="8" rx="2" transform="matrix(-0.999391 -0.0348994 -0.0348994 0.999391 9.04297 0.578125)"
                    fill="#292929" />
            </svg> JavaScript <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="8" height="8" rx="2" transform="matrix(-0.999391 -0.0348994 -0.0348994 0.999391 9.04297 0.578125)"
                    fill="#292929" />
            </svg> React <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="8" height="8" rx="2" transform="matrix(-0.999391 -0.0348994 -0.0348994 0.999391 9.04297 0.578125)"
                    fill="#292929" />
            </svg> Node. js <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="8" height="8" rx="2" transform="matrix(-0.999391 -0.0348994 -0.0348994 0.999391 9.04297 0.578125)"
                    fill="#292929" />
            </svg> React Native <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="8" height="8" rx="2" transform="matrix(-0.999391 -0.0348994 -0.0348994 0.999391 9.04297 0.578125)"
                    fill="#292929" />
            </svg> Typescript</p>
            <p class="marquee__line2"><svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="8" height="8" rx="2" transform="matrix(-0.999391 -0.0348994 -0.0348994 0.999391 9.04297 0.578125)"
                        fill="#292929" />
                </svg> HTML/CSS <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="8" height="8" rx="2" transform="matrix(-0.999391 -0.0348994 -0.0348994 0.999391 9.04297 0.578125)"
                        fill="#292929" />
                </svg> JavaScript <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="8" height="8" rx="2" transform="matrix(-0.999391 -0.0348994 -0.0348994 0.999391 9.04297 0.578125)"
                        fill="#292929" />
                </svg> React <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="8" height="8" rx="2" transform="matrix(-0.999391 -0.0348994 -0.0348994 0.999391 9.04297 0.578125)"
                        fill="#292929" />
                </svg> Node. js <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="8" height="8" rx="2" transform="matrix(-0.999391 -0.0348994 -0.0348994 0.999391 9.04297 0.578125)"
                        fill="#292929" />
                </svg> React Native <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="8" height="8" rx="2" transform="matrix(-0.999391 -0.0348994 -0.0348994 0.999391 9.04297 0.578125)"
                        fill="#292929" />
                </svg> Typescript</p>
        </div>
    </div>
</section>