
<section class="tech-skills">
    <h2 class="visually-hidden">Tech Skills</h2>
    <div class="marquee">
        <div class="marquee__inner">
            <p class="marquee__line">
                <svg class="tech-skills-dot-icon1" width="40" height="40"><use href="./img/icons.svg#icon-dot-tech-skills"></use></svg>
                HTML/CSS<svg class="tech-skills-dot-icon1" width="40" height="40">
                    <use href="./img/icons.svg#icon-dot-tech-skills"></use>
                </svg> JavaScript <svg class="tech-skills-dot-icon1" width="40" height="40">
                    <use href="./img/icons.svg#icon-dot-tech-skills"></use>
                </svg>React <svg class="tech-skills-dot-icon1" width="40" height="40">
                    <use href="./img/icons.svg#icon-dot-tech-skills"></use>
                </svg>Node. js <svg class="tech-skills-dot-icon1" width="40" height="40">
                    <use href="./img/icons.svg#icon-dot-tech-skills"></use>
                </svg>React Native <svg class="tech-skills-dot-icon1" width="40" height="40">
                    <use href="./img/icons.svg#icon-dot-tech-skills"></use>
                </svg>Typescript</p>
            <p class="marquee__line"><svg class="tech-skills-dot-icon1" width="40" height="40">
                <use href="./img/icons.svg#icon-dot-tech-skills"></use>
            </svg>HTML/CSS<svg class="tech-skills-dot-icon1" width="40" height="40">
                <use href="./img/icons.svg#icon-dot-tech-skills"></use>
            </svg> JavaScript <svg class="tech-skills-dot-icon1" width="40" height="40">
                <use href="./img/icons.svg#icon-dot-tech-skills"></use>
            </svg>React <svg class="tech-skills-dot-icon1" width="40" height="40">
                <use href="./img/icons.svg#icon-dot-tech-skills"></use>
            </svg>Node. js <svg class="tech-skills-dot-icon1" width="40" height="40">
                <use href="./img/icons.svg#icon-dot-tech-skills"></use>
            </svg>React Native <svg class="tech-skills-dot-icon1" width="40" height="40">
                <use href="./img/icons.svg#icon-dot-tech-skills"></use>
            </svg>Typescript</p>
        </div>
    </div>

    <div class="marquee2">
        <div class="marquee__inner2">
            <p class="marquee__line2"><svg class="tech-skills-dot-icon2" width="40" height="40">
                <use href="./img/icons.svg#icon-dot-tech-skills"></use>
            </svg>
            HTML/CSS<svg class="tech-skills-dot-icon2" width="40" height="40">
                <use href="./img/icons.svg#icon-dot-tech-skills"></use>
            </svg> JavaScript <svg class="tech-skills-dot-icon2" width="40" height="40">
                <use href="./img/icons.svg#icon-dot-tech-skills"></use>
            </svg>React <svg class="tech-skills-dot-icon2" width="40" height="40">
                <use href="./img/icons.svg#icon-dot-tech-skills"></use>
            </svg>Node. js <svg class="tech-skills-dot-icon2" width="40" height="40">
                <use href="./img/icons.svg#icon-dot-tech-skills"></use>
            </svg>React Native <svg class="tech-skills-dot-icon2" width="40" height="40">
                <use href="./img/icons.svg#icon-dot-tech-skills"></use>
            </svg>Typescript</p>
            <p class="marquee__line2"><svg class="tech-skills-dot-icon2" width="40" height="40">
                    <use href="./img/icons.svg#icon-dot-tech-skills"></use>
                </svg>HTML/CSS<svg class="tech-skills-dot-icon2" width="40" height="40">
                    <use href="./img/icons.svg#icon-dot-tech-skills"></use>
                </svg> JavaScript <svg class="tech-skills-dot-icon2" width="40" height="40">
                    <use href="./img/icons.svg#icon-dot-tech-skills"></use>
                </svg>React <svg class="tech-skills-dot-icon2" width="40" height="40">
                    <use href="./img/icons.svg#icon-dot-tech-skills"></use>
                </svg>Node. js <svg class="tech-skills-dot-icon2" width="40" height="40">
                    <use href="./img/icons.svg#icon-dot-tech-skills"></use>
                </svg>React Native <svg class="tech-skills-dot-icon2" width="40" height="40">
                    <use href="./img/icons.svg#icon-dot-tech-skills"></use>
                </svg>Typescript</p>
        </div>
    </div>
</section>