.hero {
  max-width: 100%;
  margin: 0 auto;
}

.hero-container {
  display: flex;
  flex-direction: column;

  gap: 32px;
}

.hero-content {
  text-align: center;
  padding: 20px;
}

.hero-title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 125%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 40px;
  text-align: left;
}

.hero-title .highlight-green {
  color: #00b068;
}
.hero-btn-div {
  display: flex;
  align-items: center;
  position: relative;
}
.hero-button {
  border-radius: 16px;
  width: 165px;
  height: 92px;
  background: #bcdfd1;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  cursor: pointer;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: visible;
  margin-left: 175px;
  
}
 .text-hero-btn{
  margin-left: -112px;
 }

.hero-arrow {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: -145px;
}


.hero-description {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #292929;
  margin: 0;
  text-transform: uppercase;
  text-align: left;
}

.hero-description .highlight-green {
  color: #00b068;
}

.hero-image {
  display: none;
}
.social-links {
  background: #e4e5e6;
  width: 360px;
  height: 232px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #292929;
  padding: 52px;
}

@media (min-width: 768px) {
  .hero-button{
    width: 261px;
  }
  .text-hero-btn{
    margin-left: -102px;
  }
  .hero-arrow{
    margin-left: -135px;
  }
  .social-links {
    flex-direction: row;
    margin-top: 104px;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
  .hero-container {
    flex-direction: column;
  }

  .hero-title {
    font-size: 124px;
    line-height: 119%;
    letter-spacing: 0.01em;
    margin-bottom: 30px;
  }

  .hero-description {
    font-size: 20px;
    line-height: 160%;
  }

  .social-links {
    height: auto;
  }
}

@media (min-width: 1280px) {
  /* .hero-btn-div{
    padding-right: 136px;
  } */
  .desktop-hero-btn{
    display: flex;
    flex-direction: row;
  }
  .hero-title{
    margin-bottom: 80px;
  }
  .social-links {
    margin-top: 96px;
  }
  .hero-container {
    flex-direction: row;
  }

  .hero-content {
    max-width: 50%;
    text-align: left;
  }

  .hero-image {
    display: block;
    height: 444px;
  }

  .hero-image img {
    border-radius: 32px;
    width: 592px;
    height: 100%;
    object-fit: cover;
  }
}
